bin/
JSON-java/
.DS_Store
dummy-repo/
Pdf-Reviewer
Whiteboard
goodwill/
collector/
serialization/
config-magic/
flux/
dx/
PHAAAS/
eventtracker/
hfind/
gressil/
lexica/
mdid/
ning-service-skeleton/
.pydevproject
twicca_evernote_plugin/
Grab-n-Run/
dummy-repo3/
console-output.txt
archived-output/
error-prone/
CSC510-Group-M/
ck/
connect/
cosmic.jar
cosmic/
output-Ian Bull-tabris-js-extension.txt
output-Ian Bull-tycho_sample.txt
output-Miguel Ferreira-cosmic.txt
rt.eclipse.p2/
tycho_sample/